<div class="container">
  <div class="c_b_u">
    <div class="row">
      <div class="col c-2">
        <div class="category_top">
          <ul>
            <li>
              <%= link_to "Tất cả sản phẩm", '#', class: 'll' %>
            </li>
            <% all_category.each do |data| %>
            <li>
              <%= link_to data.name, '#', class: 'll' %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col c-8">
        <div class="banner">

          <div class="menu_inside_banner">
          </div>
        </div>
      </div>
      <div class="col c-2">
        <div class="box_user_beauti">

        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .c_b_u {
    margin-top: 174px;
    height: 288px;
  }
  .category_top {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    border-radius: 0 0 8px 8px;
    margin-top: -16px;
  }
  .category_top ul{
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 12px;
    list-style: none;

  }
  .category_top ul li{
    padding: 10px 18px;
  }
  .category_top ul li:hover{
    background-color: #fff;
    box-shadow: -4px 1px 5px 1px #cecece;
    box-sizing: content-box;
    border-left: 2px solid var(--pink-color);
  }
  .category_top ul li:hover a{ 
    transition: .2s;
    color: var(--pink-color) !important;
  }
  .category_top ul li a{
    text-decoration: none;
    font-family: 'Quicksand-Bold';
    padding: 10px 0;
    font-size: 15px;
    line-height: 15px;
    color: var(--text-color);
  }
  .banner {
    position: relative;
    background-color: #2a2a2abb;
    border-radius: 8px;
    width: 100%;
    height: var(--height-banner);
    margin-top: var(--margin-top-banner);
  }
  .box_user_beauti {
    width: 100%;
    height: var(--height-banner);
    margin-top: var(--margin-top-banner);
    border-radius: 8px;
    background-color: #2a2a2abb;
  }
  .menu_inside_banner {
    position: absolute;
    top: 0;
    left: 0;
    background-color: cadetblue;
    width: 100%;
    height: 100%;
    border-radius: 6px;
  }
</style>