<div class="menu_inside_banner" data-position="<%= position + 1 %>">
  
  <div class=".grid">
    <div class="row">

      <div class="col c-1"></div>
      <div class="col c-2"><h1><%= position + 1%></h1></div>
    </div>
  </div>
</div>
