<div class="header_pc_top_page">
  <%= render 'layouts/shared/top/header/header_nth_1' %>
  <!-- 2 -->
  <%= render 'layouts/shared/top/header/header_nth_2' %>
  <!-- 3 -->
  <%= render 'layouts/shared/top/header/header_nth_3' %>
</div>
</div>
<%= render 'layouts/shared/top/header/menu_vertical' %>
