<div class="header_pc_top_page">
  <%= render 'layouts/shared/top/header/header_nth_1' %>
  <%= render 'layouts/shared/top/header/header_nth_2' %>
  <%= render 'layouts/shared/top/header/header_nth_3' %>
</div>
<div class="overlay_for_header"></div>
<%= render 'layouts/shared/top/header/menu_vertical' %>
